<% include ../partials/header %>

<div class="container container-text">
    <form action="/stories/<%=foundStory._id%>?_method=PUT" method="POST">
        <div class="form-group">
            <input class="form-control form-control-lg title" type="text" placeholder="Title" name="storyTitle" value="<%-foundStory.title%>">
            <br>
            <input class="form-control form-control-lg title" type="text" placeholder="Cover url" name="img" value="<%-foundStory.image%>">
            <br>
            <textarea id="mytextarea" placeholder="Tell us your story" name="storyContent"><%-foundStory.content%></textarea>
        </div>
        <button class="btn btn-secondary btn-lg btn-block btn-edit">EDIT</button>
    </form>
    <form action="/stories/<%=foundStory._id%>?_method=DELETE" method="POST">
        <button class="btn btn-secondary btn-lg btn-block btn-delete">DELETE</button>
    </form>
</div>

<% include ../partials/footer %>