<% include ../partials/header %>

<div class="container container-text">
    <h1 class="h1"><%=foundStory.title%></h1>
    <hr>
    <br>
    <%if(foundStory.image){%>
        <img class="img-fluid rounded mx-auto d-block" src="<%=foundStory.image%>" alt="">
    <%}%>
    <br>
    <hr>
    <p>
        <%-foundStory.content%>
    </p>
    <br>
    <%if (currentUser && foundStory.author.id.equals(currentUser._id)){%>
        <a href="/stories/<%=foundStory._id%>/edit" class="btn btn-secondary btn-lg btn-comment btn-edit">Edit Post</a>
    <hr>
    <%}%>
    <div class="comment-section">
        <a href="/stories/<%=foundStory._id%>/comments/new">
            <button class="btn btn-secondary btn-lg btn-comment">Add a comment</button>
        </a>
        <h2 class="headings">Comments: </h2> 
        <br>
        <%foundStory.comments.forEach(element => {%>
            <h4 class="headings">from: <%=element.author.username%></h4>
            <p><%-element.text%> <a href="/stories/<%=foundStory._id%>/comments/<%=element._id%>/edit">тык</a></p>
            <hr>
        <%});%>
    </div>
</div>


<% include ../partials/footer %>