<% include ../partials/header%>

<div class="container container-text">
    <form action="/stories/<%=story_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
        <div class="form-group">
            <textarea id="mytextarea" name="commentText" minlength="3" maxlength="220" ><%=comment.text%></textarea>
        </div>
        <button class="btn btn-secondary btn-lg btn-block btn-edit">Edit comment</button>
    </form>
    <form action="/stories/<%=story_id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
        <button class="btn btn-secondary btn-lg btn-block btn-delete">Delete comment</button>
    </form>
</div>

<% include ../partials/footer%>