<% include ../partials/header %>

<div class="container container-text">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <%if (currentUser && user._id.equals(currentUser._id)){%>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
                <%}%>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3"><%=user.username%> <small class="text-muted"><%-user.firstName%> <%-user.lastName%></small></h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>ABOUT</h6>
                            <p><%-user.about%></p>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Posted stories:</h5>
                            <%if(typeof userStories !== 'undefined') {%>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>
                                    <%userStories.forEach(element => {%>
                                        <tr>
                                            <td>
                                                <strong><a href="/stories/<%=element._id%>"><%=element.title%></a></strong>
                                            </td>
                                        </tr>
                                    <%});%>  
                                    </tbody>
                                </table>        
                            <%}%>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <%if (currentUser && user._id.equals(currentUser._id)){%>
                <div class="tab-pane" id="edit">
                    <form role="form" action="/user/<%=user._id%>?_method=PUT" method="POST">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="firstName" placeholder="First name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="lastName" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" name="email" placeholder="email@gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">About</label>
                            <div class="col-lg-9">
                                <textarea id="mytextarea" name="about" ></textarea>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-lg btn-block btn-edit">Update profile</button>
                    </form>
                </div>
                <%}%>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>


<% include ../partials/footer %>